<div class="panel panel-default">
  <div class="panel-heading panel-title" id="api_key" data-name="<%= @source.name %>" data-api_key="<%= ENV['API_KEY'] %>" data-uid_type="<%= ENV['UID'] %>" data-page="" data-per_page="15" data-q="" data-publisher="" data-source="<%= @source.name %>" data-class_name="" data-order="<%= @order.nil? ? nil : @order.name %>">
    <% if can?(:manage, Source) && controller.action_name != "edit" && !(controller.action_name == "update" && !@source.errors.empty?) %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_source_path(@source), { :remote => true, :class => 'btn btn-default' } %>
        </div>
      </div>
    <% end %>
    <%= @source.title %> <small class="pull-right"><%= active_label(@source.active).html_safe %></small>
  </div>
  <div class="panel-body">
    <% if can?(:manage, Source) && (controller.action_name == "edit" || (controller.action_name == "update" && !@source.errors.empty?)) %>
      <%= simple_form_for @source, :url => source_path(@source), :html => { :role => "form", :remote => true } do |f| %>
        <%= f.input :title %>
        <%= f.input :active, :as => :boolean %>
        <%= f.input :private, :as => :boolean, hint: "Source not made available via API" %>
        <%= f.input :description, :input_html => { :rows => 3 } %>

        <div class="form-group">
          <%= f.submit "Save ", class: "btn btn-default" %>
          <%= link_to 'Cancel', source_path(@source), { :remote => true, :class => 'btn' } %>
        </div>
      <% end %>
    <% else %>
      <dl class="dl-horizontal">
        <% unless @source.group.blank? %>
          <dt>Group</dt>
          <dd><%= h(@source.group.title) %></dd>
        <% end %>
        <% unless @source.description.blank? %>
          <dt>Description</dt>
          <dd><%= h(@source.description) %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
