{{#if groups}}
  {{#each group in groups}}
    {{#if group.agents}}
      <div class="panel panel-default">
        <div class="panel-heading">{{group.title}}</div>
        <table class="table">
          <thead>
            <tr>
              <th class="name">Agent</th>
              <th>Status</th>
              <th class="number">Pending</th>
              <th class="number">Working</th>
              <th class="number">Queued&nbsp;Articles</th>
              <th class="number">Stale&nbsp;Articles</th>
            </tr>
          </thead>
          <tbody>
            {{#each agent in group.agents}}
              <tr>
                <td>{{#link-to 'agent' agent}}{{agent.title}}{{/link-to}}</td>
                <td>{{state-label agent.status}}</td>
                <td class="number">{{agent.pendingCount}}</td>
                <td class="number">{{agent.workingCount}}</td>
                <td class="number">{{agent.queuedCount}}</td>
                <td class="number">{{agent.staleCount}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{/each}}
{{else}}
  <div class="alert alert-info">No active agents found</div>
{{/if}}
