<div id="content">
  {{# if works}}
    <div id="results">
    {{#each work in works}}
      <h4 class="article">{{#link-to 'work' work}}{{work.title}}{{/link-to}}</h4>
      <p>{{format-date work.issuedDate}} <a target="_blank" {{bind-attr href=work.url}}>{{work.url}}</a></p>
      <p>{{sign-posts work}}</p>
    {{/each}}
    </div>
  {{else}}
    <div class="alert alert-info">No works found.</div>
  {{/if}}
</div>
