<p>Install and activate agents.</p>

<% if @groups.size > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th class="group">Group</th>
        <th class="name">Agent</th>
        <th>Status</th>
        <% if can?(:manage, Alert) %>
          <th class="status">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @groups.with_agents.each do |group| %>
        <% group.agents.each do |agent| %>
          <tr>
            <% if group.agents.first.name == agent.name %>
              <td <%= "rowspan=#{group.agents.count}" %>><h4><%= h(group.display_name) %></h4></td>
            <% end %>
            <td><%= link_to_if agent.installed?, agent.display_name, agent_path(agent) %></td>
            <td><%= state_label(agent.human_state_name).html_safe %></td>
            <% if can?(:manage, Alert) %>
              <td>
                <% if agent.human_state_name == "available" %>
                  <%= link_to 'Install', agent_path(agent, state_event: "install"), :method => :put, :data => { :confirm => 'Are you sure?' }, :remote => true, :class => 'btn btn-primary btn-sm', :id => "#{agent.name}-status", :title => "Install Agent" %>
                <% elsif agent.human_state_name == "retired" %>
                <% elsif agent.human_state_name == "inactive" %>
                  <%= link_to 'Activate', agent_path(agent, state_event: "activate"), :method => :put, :remote => true, :class => 'btn btn-info btn-sm', :id => "#{agent.name}-status", :title => "Activate Agent" %>
                <% else %>
                  <%= link_to 'Inactivate', agent_path(agent, state_event: "inactivate"), :method => :put, :remote => true, :class => 'btn btn-default btn-sm', :id => "#{agent.name}-status", :title => "Inactivate Agent" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">There are currently no groups</div>
<% end %>
