<% unless Agent.visible.empty? %>
  <% @groups.visible.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.title %></div>
      <table class="table" id="<%= group.title %>Table">
        <thead>
          <tr>
            <th class="name">Agent</th>
            <th>Status</th>
            <th class="number">Pending</th>
            <th class="number">Working</th>
            <th class="number">Queued&nbsp;Articles</th>
            <th class="number">Stale&nbsp;Articles</th>
          </tr>
        </thead>
        <tbody>
          <% group.agents.visible.each do |agent| %>
            <tr>
              <td><%= link_to agent.title, agent_path(agent) %></td>
              <td><%= state_label(agent.human_state_name).html_safe %></td>
              <td class="number" id="pending_count_<%= agent.name %>"><%= number_hiding_zero(agent.pending_count) %></td>
              <td class="number" id="working_count_<%= agent.name %>"><%= number_hiding_zero(agent.working_count) %></td>
              <td class="number" id="queued_count_<%= agent.name %>"><%= number_hiding_zero(agent.queued_count) %></td>
              <td class="number" id="stale_count_<%= agent.name %>"><%= number_hiding_zero(agent.stale_count) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No active agents found</div>
<% end %>
