<% unless Agent.visible.empty? %>
  <% @groups.visible.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= group.title %></div>
      <table class="table" id="<%= group.title %>Table">
        <thead>
          <tr>
            <th class="name">Agent</th>
            <th class="number">Responses&nbsp;(24&nbsp;hours)</th>
            <th class="number">Average&nbsp;(ms)</th>
            <th class="number">Errors (24&nbsp;hours)</th>
          </tr>
        </thead>
        <tbody>
          <% group.agents.visible.each do |agent| %>
            <tr>
              <td><%= link_to agent.title, agent_path(agent) %></td>
              <td class="number" id="response_count_<%= agent.name %>"><%= number_hiding_zero(agent.response_count) %></td>
              <td class="number" id="average_count_<%= agent.name %>"><%= number_hiding_zero(agent.average_count) %></td>
              <td class="number" id="error_count_<%= agent.name %>"><%= agent.error_count > 0 ? link_to(number_hiding_zero(agent.error_count), alerts_path(agent: agent.name)) : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-info">No active agents found</div>
<% end %>
