<div class="panel panel-default">
  <div class="panel-heading panel-title" id="api_key" data-name="<%= @agent.name %>" data-api_key="<%= ENV['API_KEY'] %>" data-uid_type="<%= ENV['UID'] %>" data-page="" data-per_page="15" data-q="" data-publisher="" data-agent="<%= @agent.name %>" data-class_name="" data-order="<%= @agent.name %>">
    <%= @agent.title %> <small class="pull-right" id="update_date"><%= date_from_iso8601(@agent.update_date) + ' UTC' %> <%= state_label(@agent.human_state_name).html_safe %></small>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% unless @agent.group.blank? %>
        <dt>Group</dt>
        <dd><%= h(@agent.group.title) %></dd>
      <% end %>
    </dl>
  </div>
</div>
